* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
.custom_py-5{
	padding-top: 20px;
	padding-bottom: 20px;
}
.pd_top{
	padding-top: 100px;
}
